
body{
    background: #f5f5f5;
}

form{
	text-align: center;
    border: 0.063em solid #db0129;
    border-radius: 0.938em;
    margin: 7.55em;
    line-height: 3.125em;
    font-size: medium;
    box-shadow: 0.5em 0.5em 0.5em #b4b4b4;
    background: #ffffff;
}
div{
    color: #333333;
}

.header-card{
	background-color: #f5f5f5;
    border-radius: 0.938em 0.938em 0em 0em;
    font-weight: bold;
}
  
input{
	border-color: #b4b4b4;
}

.button{
    width: 15.625em;
    height: 1.875em;
    border-color: #b00021;
    background-color: #db0129;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0.313em;
    cursor: pointer;
}

a{
    display: inherit;
    font-size: x-small;
    font-style: italic;
    color: #db0129;
}
