/* footer */

footer{
	border-top: 0.063em solid #db0129;
	box-shadow: 0em -0.25em 0.375em #b4b4b4;
}

footer ul{
	list-style: none;
	display: flex;
	justify-content: center;
}

footer ul li{
	margin-right: 1.875em;
	vertical-align: middle;
}

.li_ml{
	border: 0.063em solid #b4b4b4;
	height: 1.25em;
	line-height: 1.25em;
	padding: 0.313em;
	font-size: x-small;
}

.li_contact{
	border: 0.063em solid #b4b4b4;
	height: 1.25em;
	line-height: 1.25em;
	padding: 0.313em;
	font-size: x-small;
}

.li_ml a{
	color: #db0129;
	text-decoration: none;
}

.li_contact a{
	color: #db0129;
	text-decoration: none;
}