/* header */
.header{
	display: flex;
	flex-direction: row;
	background: #F5F5F5;
	margin: 0;
	border-bottom: 0.063em solid #db0129;
	box-shadow: 0em 0.25em 0.375em #b4b4b4;
}

.logo_gbaf_header{
	width: 6.25em;
}

#conteneur_menu_header{
	background: #FFFFFF;
	height: 4.25em;
	position: relative;
	margin-left: 59.5em;
}

#menu{
	position: absolute;
}

dl{
	height: 4.25em;
	margin: 0; padding: 0;
	display: block;
	float: left;
}

dt{
	width: 9.625em;
	display: block;
	height: 4.25em;
	color: #333333;
	line-height: 4.25em;
	text-align: center;
	border-right: dotted 0.063em #F5F5F5;
	border-left: dotted 0.063em #F5F5F5;
	cursor: pointer;
}

dd{
	display: block;
	margin: 0; padding: 0;
	background: #FFFFFF;
	box-shadow: 0.375em 0.375em 0.375em #b4b4b4;

}

dd ul{
	margin: 0; padding: 0;
	text-align: center;
	list-style: none;
}

dd ul li{
	display: block;
	margin: 0; padding: 0;
}

dd ul li a{
	color: #333333;
	display: block;
	text-decoration: none;
	height: 3.125em;
	line-height: 3.125em;
	border-top: dotted 0.063em #F5F5F5;
}

dd ul li a:hover{
	display: block;
	background: #C7C7C7;
}

dl dd{
	display: none;
}

dl:hover dd{
	display: block;
}
/* fin header*/